<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Número de série: </strong> {{$parent.property.equipment.equipmentDetails}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Fabricante: </strong> {{$parent.property.equipment.equipmentMake}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Modelo: </strong> {{$parent.property.equipment.equipmentModel}}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-lg-4">
        <div class="form-group">
            <strong>Ano de Fabricação: </strong> {{$parent.property.equipment.equipmentRegisterYear}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Descrição: </strong> {{$parent.property.description}}
        </div>
    </div>
</div>