<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Tipo de Moradia: </strong> {{homeTypeDescription($parent.property.residence.homeType)}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Uso: </strong> {{homeUseTypeDescription($parent.property.residence.homeUseType)}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Construção: </strong> {{homeBuildingTypeDescription($parent.property.residence.homeBuildingType)}}
        </div>
    </div>
</div>