<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Tipo: </strong> {{vesselTypeName($parent.property.vessel.boatTypeId)}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Nome Embarcação: </strong> {{$parent.property.vessel.boatName}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Comprimento Embarcação: </strong> {{$parent.property.vessel.boatLength}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>PS Básica: </strong> {{$parent.property.vessel.boatPsBasic}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Tempo Experiência: </strong> {{$parent.property.vessel.boatExperienceTime}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Limite Navegação: </strong> {{$parent.property.vessel.boatNavigationLimit}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>LGM Básica: </strong> {{$parent.property.vessel.boatLgm}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>LGM Assistência e Salvamento: </strong> {{$parent.property.vessel.boatSa}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <strong>LGM Responsabilidade Civil: </strong> {{$parent.property.vessel.boatLiability}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Idade da Embarcação: </strong> {{$parent.property.vessel.ageVessel}}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Observações: </strong> {{$parent.property.description}}
        </div>
    </div>
</div>