<div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-search fa-fw" style="margin-right: 7px;"></i>Pesquisar...</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
			
				<label>Segurado</label>
				<input type="text" ng-model="$parent.customer.name" class="form-control" name="customer" autocomplete="off"
					   typeahead="item as showNameCustomer(item) +' - '+ maskCpfCnpj(item.cpfCnpj) for item in autoCompleteCustomer($viewValue)"
					   typeahead-on-select="onSelectCustomer($item)" required />
			</div>
			<div class="col-md-3">	
				<label>Nome da embarcação</label>
				<input type="text" class="form-control" ng-model="$parent.boatName" autocomplete="off" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			 	<br />
			 	<button class="Button btn btn-primary" ng-click="search()" v-busy="isBusy" v-pressable v-busy-label="Pesquisando">Pesquisar</button>
			 	<button class="btn btn-default" ng-click="clear()">Limpar</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-bars fa-fw" style="margin-right: 7px;"></i>Lista de Embarcações</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover" id="dataTables-example">
						<thead>
							<tr class="font-size-grid">
								<th class="leftAlign">Segurado</th>
								<th class="leftAlign">Nome</th>
								<th class="leftAlign" >Tipo</th>
								<th class="leftAlign">Comprimento</th>
								<th class="leftAlign">LGM Básica</th>
								<th class="centralizer">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX font-size-grid" ng-repeat="item in itens" ng-show="isShow">
								<td ng-if="item.customer.type == 1" class="leftAlign">{{item.customer.name}}</td>
								<td ng-if="item.customer.type == 2" class="leftAlign">{{item.customer.corporateName}}</td>
								<td class="leftAlign">{{item.vessel.boatName}}</td>
								<td class="leftAlign">{{vesselTypeName(item.vessel.boatTypeId)}}</td>
								<td class="leftAlign">{{item.vessel.boatLength}}</td>
								<td class="leftAlign">{{item.vessel.boatLgm}}</td>
								<td class="centralizer">
									<a href="" class="btn btn-info btn-xs" ng-click="edit(item.id)" tooltip="Visualizar">
										<span class="fa fa-fw fa-search"></span>
									</a>												
								</td>
							</tr>
						</tbody>
					</table>
					<h5 class="centralizer" ng-show="!isShow" style="color:#C0C0C0;">Não existe nenhum resultado para esta busca</h5>
		                    
		            <div ng-show="isShow" ng-include="pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>

