<div style="margin-top:5%;">
    <div class="col-lg-12 text-center">
        <h1 class="page-header-custom text-center" style="color: #FFFFFF;">Seja bem-vindo!</h1>
        <h4 style="color: #FFFFFF;">Fique à vontade para desfrutar das nossas funcionalidades
            <br />
            e melhorar o gerenciamento do seu negócio
        </h4>

        <br />

        <h4><a style="color: #FFFFFF;" href="#/home">Vamos começar? Clique!</a></h4>

        <br /><br />

        <img src="app/img/doormat.png" height="250">

        <br />
    </div>
</div>