<div class="modal-header">
    <h3 class="title centralizer">Deseja remover esta proposta?</h3>
</div>
<div class="modal-body">
    <ul>
        <label>Nº da proposta: </label> {{item.proposalNumber}}
        <br />
        <label>Segurado: </label>
        <span ng-if="item.customer.type == 1">{{item.customer.name</span>
        <span ng-if="item.customer.type == 2">{{item.customer.corporateName}}</span>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Sim</button>
    <button class="btn btn-warning" ng-click="cancel()">Não</button>
</div>